{extend name="base" /}
﻿
{block name="title"}小北助手{/block}
﻿
{block name="main"}
<div class="mdui-container" id="app">
    <div class="mdui-typo mdui-m-y-5">
        <h3>小北助手</h3>
        <h5>填写小北学生app的账号和密码，账号和密码已与小北学生同步！</h5>
        <h5>强烈建议在小北学生app绑定手机号后，再用手机号登陆！</h5>
    </div>
    <div class="mdui-card">

        <div class="mdui-card-content">

            <div class="mdui-textfield">
                <label class="mdui-textfield-label">账号</label>
                <input class="mdui-textfield-input" type="text" v-model="username"/>
            </div>
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">密码</label>
                <input class="mdui-textfield-input" type="password" v-model="password" @keyup.enter="login"/>
            </div>
            <div>
                <button class="mdui-btn mdui-btn-block mdui-btn-raised mdui-color-theme-accent" @click="login">提交
                </button>
            </div>

        </div>

    </div>

</div>
{/block}
﻿
{block name="script"}
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            username: '',
            password: '',
        },
        methods: {
            login() {
                if (!this.username || !this.password){
                    $message.error("账号或密码不得为空")
                    return
                }
                $request.get('/auth/login', {
                    params: {
                        username: this.username,
                        password: this.password,
                    }

                }).then((res) => {
                    if (res.code === 200) {
                        $message.success(res.msg);
                        location.href = '/user';
                    } else {
                        $message.error(res.msg)
                    }
                })
            }
        }
    })
</script>
{/block}