<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{block name="title"}{/block}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="小北学生,体温自动上报,Hidove"/>
    <meta name="description" content="小北学生体温自动上报系统"/>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
            integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw"
            crossorigin="anonymous"
    />
    <script src="https://lib.baomitu.com/vue/2.6.12/vue.min.js"></script>
    <script src="https://lib.baomitu.com/axios/0.21.1/axios.min.js"></script>
    <script src="/static/common.js"></script>
    {block name="head"}{/block}
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-indigo">
{block name="main"}{/block}

<script
        src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
        integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
        crossorigin="anonymous"
></script>
{block name="script"}{/block}
</body>
</html>