<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{block name="title"}{/block}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="小北学生,小北助手"/>
    <meta name="description" content="小北助手，您的贴心小帮手"/>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.staticfile.org/mdui/1.0.2/css/mdui.min.css"/>
    <script src="https://cdn.staticfile.org/vue/2.6.9/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.21.1/axios.min.js"></script>
    <script src="/static/common.js"></script>
    {block name="head"}{/block}
</head>
<body class="mdui-theme-primary-indigo mdui-theme-accent-indigo">
{block name="main"}{/block}
<script src="https://cdn.staticfile.org/mdui/1.0.2/js/mdui.min.js"></script>
{block name="script"}{/block}
</body>
</html>